<nav>
  <ul>
    <li>
      <a routerLink="create_customer">
        <i class="material-icons"></i>
        Reg. customer
      </a>
    </li>
    <li>
        <a routerLink="">
          <i class="material-icons"></i>
          Customers
        </a>
    </li>
    <li>
      <a routerLink="create_service">
        <i class="material-icons"></i>
        Reg. service
      </a>
  </li>
  <li>
      <a routerLink="testing_from">
        <i class="material-icons"></i>
        Testing
      </a>
  </li>
  </ul>
</nav>